<template>
  <div>
    <h1> Delete </h1>
    <i> Delete documents in collection </i><br>
    <button v-on:click="deleteCountries()" > delete Countries (id) </button> <br>
    <button v-on:click="deleteCountriesFull()" > delete Countries  full </button> <br>
    <h3> {{result}}</h3>
  </div>  
</template>

<!--script setup -->
<script>

import { ref, onMounted } from 'vue' // used for conditional rendering
import { doc, deleteDoc, getFirestore } from "firebase/firestore"

export default {
  name: 'docDelete',
  setup() {
     
    const db = getFirestore()
    const result = ref('');
     
    onMounted(() => {
      //run();
    });
    
    return { result, 
             deleteCountries,
             deleteCountriesFull
             };
             
             
             
    async function deleteCountries() {
      try {
            await deleteDoc(doc(db, 'countries', '3Cez3MQq6FwzyLNxnYYJ'))
            result.value = 'Deleted "Countries" name in document ';
            console.log(result.value) 
          }
          catch (error) {
                console.log(error);
          }
          finally {
                console.log('delete id '); //  
          }
    }
    
    async function deleteCountriesFull() {
      try {
            await deleteDoc(doc(db, 'countries'))
            result.value = 'Deleted "Countries" name in document ';
            console.log(result.value) 
          }
          catch (error) {
                console.log(error);
          }
          finally {
                console.log('delete id '); //  
          }
    }
    
    async function run() {
     
      await deleteDoc(doc(db, 'countries', 'countries'))
         
      result.value = 'Deleted "Countries" name in document ';
      console.log(result.value) 
    }
    
      // note: if we want to delete the name
      /*
      await updateDoc(doc(db, 'my-users', 'Countries'), {
        name: deleteField()
      })
      */
    
  },
  
}  

</script>

