<template>
  <div> 
    <h1> Edit </h1>
    Name:<input type="text" style="width: 100px;text-align: left;" v-model="dataObj.name"> <br>
    Surname:<input type="text" style="width: 100px;text-align: left;" v-model="dataObj.surname"> <br>
    Phone:<input type="text" style="width: 100px;text-align: left;" v-model="dataObj.phone"><br><br>
    <button v-on:click="editId();" > edit  </button>  
  </div>  
</template>

<!--script setup -->
<script>

import { ref, onMounted } from 'vue' // used for conditional rendering
import { getFirestore, collection, doc, getDoc, setDoc} from "firebase/firestore"
import { useRouter, useRoute } from 'vue-router'

export default {
  name: 'docEdit',
  props: {
      id: String,
  },
  setup(props) {
    const {router } = useRouter()
    const {route } = useRoute()
    const db = getFirestore()
    const colRef = collection(db, 'my-users')
    
    const dataObj = ref({
        name: '',
        surname: '',
        phone: ''
    })
 
    onMounted(() => {
      getId(props.id)
    });

    return { 
         editId, 
         dataObj,
         getId,
         };
    
    async function editId() {
        
        //console.log('editId:',props.id )

        try {
            await setDoc(doc(db, "my-users", props.id), dataObj.value); 
            //router.go(-1)  // warning verdi!!
            window.history.back()
            } catch (e) {
                console.error(e); // handle your error here
            } finally {
                console.log('Cleanup here'); // cleanup, always executed
            }
    }
    
    async function getId(id) {
      console.log('getId',id)
      const docSnap = await getDoc(doc(db, 'my-users', id))
         
        console.log('docSnap:',docSnap)

        dataObj.value.id = id;
        dataObj.value.name = docSnap.data().name;
        dataObj.value.surname = docSnap.data().surname;
        dataObj.value.phone = docSnap.data().phone;

         
    }
 
  },
  
}  

</script>

