<template>
  <div> 
    <h3> Create&Add Example</h3>
    <pre style="width: 100px;text-align: left;">
      setDoc(doc(db, "parameters","data1"), dataObj)

      dataObj ={  name: "Emr ",
                   favorites: { food: "Pizza", color: "Blue", subject: "recess" },
                   age: 12
                }   
    </pre>
    <table>
      <tr>
        <td> name____: <input type="text" v-model="dataObj.name"></td>
      </tr>
        <tr>
        <td> favorites </td>
        <td> color </td>
        <td> subject </td>
      </tr>
      <tr>
        <td> favorites_: <input type="text" v-model="dataObj.favorites.food"></td>
        <td> <input type="text" v-model="dataObj.favorites.color"></td>
        <td> <input type="text" v-model="dataObj.favorites.subject"></td>
      </tr>
      <tr>
        <td> age_____:<input type="text" v-model="dataObj.age"></td>  
      </tr>
    </table>
 
    <button v-on:click="changePrm()" > Change </button>

 <hr>
    
    <table>
      <tr>
        <th style="width:20%;"> id </th>
        <th style="width:20%;">  name  </th>
        <th style="width:20%;"> favorites </th>
        <th style="width:20%;">  age      </th>
     </tr>
       <tr v-for="(val,key,index) in resultArr" :key="val.id" >
        <td style="width:20%;">{{ val.id }}  </td>
        <td style="width:20%;"> {{ val.name }}  </td>
        <td style="width:20%;"> {{ val.favorites }}  </td>
        <td style="width:20%;">  {{ val.age }}      </td>
     </tr>
    </table>
 
  </div>  
</template>

<!--script setup -->
<script>

import { ref, onMounted } from 'vue' // used for conditional rendering
import { collection, addDoc, getFirestore,colRef,setDoc,doc,getDoc } from "firebase/firestore"

export default {
  name: 'docAdd',
  setup() {
     
    const db = getFirestore()
    const resultArr = ref([]);
    const colRef = collection(db, 'parameters')
    const docRef = doc(db, "parameters", "data1" );
    const dataObj = ref({ name: "Emr İlçin",
        favorites: { food: "Pizza", color: "Blue", subject: "recess" },
        age: 12
    })
    
    onMounted(() => {
      
    });
     
    return { 
         dataObj,
         resultArr,
         changePrm,
         getId,
         };
   
    async function changePrm() {
          /*
         önemli not: db kuralı tanımla
         "Firestore Databes" --> rules
        
         match /parameters/{user} { 
           allow read, write: if signedInOrPublic();
         }
         */
        
        /* 
        
        // ok
        await setDoc(doc(db, "parameters", "data1"), dataObj ) 
          .catch((e) => {  console.log(e); })
        */    
    
        // ok
        try {
              await setDoc(docRef,dataObj.value)  // ok
              //await setDoc(doc(db, "parameters","data1"), dataObj.value)  //ok
              
              .then(docRef2 => {
                  console.log("Document has been added successfully"  );
              })
              .catch(error => {
                  console.log(error);
              })
               
      
          } catch (e) {
                console.error(e); // handle your error here
          } finally {
                console.log('Cleanup here'); // cleanup, always executed
                getId('data1')
          }  

    }
    
    async function getId(id) {
      console.log('getId:',id)
      const docSnap = await getDoc(doc(db, 'parameters', id ))
         
        console.log('docSnap:',docSnap.data())
         
        resultArr.value.pop() // old record delete full
        resultArr.value.push({
            id: id,
            name: docSnap.data().name,
            favorites: {food: docSnap.data().favorites.food, 
                        color: docSnap.data().favorites.color,
                        subject: docSnap.data().favorites.subject
                        },
            age: docSnap.data().age,  
        });
 
    }
    
    
    
  },
  
}  

</script>

