<template>
  <div> 
    <h1> Add New </h1>
    Name:<input type="text" style="width: 100px;text-align: left;" v-model="dataObj.name"> <br>
    Surname:<input type="text" style="width: 100px;text-align: left;" v-model="dataObj.surname"> <br>
    Phone:<input type="text" style="width: 100px;text-align: left;" v-model="dataObj.phone"><br><br>

    <button v-on:click="add()" > add  </button>  

  </div>  
</template>

<!--script setup -->
<script>

import { ref, onMounted } from 'vue' // used for conditional rendering
import { addDoc, getFirestore,collection } from "firebase/firestore"
import { useRouter } from 'vue-router'

export default {
  name: 'docAdd',
  setup() {
    const router = useRouter()

    const db = getFirestore()
    const colRef = collection(db, 'my-users')
    // data to send
    const dataObj = {
        name: 'Emrullah',
        surname: 'İLÇİN',
        phone: '12345'
    }
    
    onMounted(() => {
      //run();
    });
 
   
    return { 
         add, 
         dataObj,
         };
    
    async function add() {
      
      // create document and return reference to it
      await addDoc(colRef, dataObj).then(docRef => 
        {  
          console.log('docR:',docRef); 
          router.push({name: 'feed'})
        })
        .catch(error => {
          console.log(error);
        }) 
    }
 
  },
  
}  

</script>

