<template>
  <div>
     
      <h3> Feed  </h3>
      <div> result:{{ result }} </div>
      
    <router-link to="/docNew" class="router-link" >  Create&Add </router-link>

    <table style="width:100%;">
      <tr>
        <th style="width:20%;"> ID  </th>
        <th style="width:20%;"> Name </th>
        <th style="width:20%;"> Surname </th>
        <th style="width:20%;"> Phone </th>
        <th style="width:10%;"> Edit </th>
        <th style="width:10%;"> Detele </th>
      </tr> 
      
      <tr v-for="(val,key,index) in resultArr" :key="val.id" >
        <td style="width:20%;">{{key}}:{{ val.id }}  </td>
        <td style="width:20%;"> {{ val.name }}  </td>
        <td style="width:20%;"> {{ val.surname }}  </td>
        <td style="width:20%;"> {{ val.phone }}  </td>

        <td style="width:10%;"> 
        <!--router-link :to="{ path: 'docEdit/'+ val.id, query: { name: val.name, code: val.code }}" >Edit</router-link -->   
        <router-link :to="{ name: 'docEdit',  params:  {id: val.id} } "> Edit</router-link>

        </td>
        <td style="width:10%;"> <button v-on:click="deleteCountries(val.id,key)" > Delete </button> </td>
     </tr>  
    </table>
    
    <div>
      {{}}
    </div>
    
  </div>  
</template>

<script>
  export default {
    name: 'myFeed',
    inheritAttrs: false,
    customOptions: {}
  }
</script>

<script setup>
import { getAuth, onAuthStateChanged, updateProfile } from 'firebase/auth'
import { ref, onBeforeUnmount} from 'vue'
import { useRouter, useRoute, RouterLink } from 'vue-router'
import { useStore } from 'vuex'
import { doc, getDoc, getDocs, getFirestore, collection, deleteDoc} from "firebase/firestore"

const router = useRouter()
const route = useRoute()
const store = useStore();
// console.log('currUser:',getAuth().currentUser)
 
const myUser = ref(getAuth().currentUser)
//console.log('currUser:',myUser.value.displayName)

const result = ref('');
const resultArr = ref([]);
const db = getFirestore()

readFull()
//const readFull = async () => {
async function readFull() { 
       const colRef = await collection(db, 'my-users');
       try {
              const docsSnap = await getDocs(colRef);
           
              //console.log('docs:',docsSnap);
              docsSnap.forEach(function (doc) {
                //console.log('data:',doc.data().name, doc.id);
          
                resultArr.value.push({
                  id: doc.id,
                  name: doc.data().name,
                  surname: doc.data().surname,
                  phone: doc.data().phone
                });
              })
        } catch (error) {
            console.log(error);
        }
        
}

async function deleteCountries(id,key) {
      try {
            await deleteDoc(doc(db, 'my-users', id))
            result.value = 'Deleted "Countries" name in document: ' + id;
            const idxObj = resultArr.value.findIndex(object => {
              return object.id === id;
            });
            resultArr.value.splice(idxObj, 1);
          }
          catch (error) {
                console.log(error);
          }
          finally {
                console.log('delete id '); //  
          }
}
async function add() {

  // create document and return reference to it
  await addDoc(colRef, dataObj).then(docRef => 
    {  
      console.log(result.value);
      //addDisplay(docRef.id)  
    })
    .catch(error => {
      console.log(error);
    }) 
}   

// feed sayfasından çıkınca calişır ve user i temizler.
onBeforeUnmount(() => {
    console.log('Feed.Unmount')
    // clear up listener
    //authListener()
})
  
</script>
