<template>
  <h2> Home</h2>
  <h3> Firebase CRUD </h3>
  Firebase Database // Cloud Firestore

</template>
<script> 
import { ref, onMounted } from 'vue' // used for conditional rendering

export default {
	name: 'Home',
	
  props: {
  },
  
  setup() {
  
     onMounted(() => {        
     })
     
    return {       
    };

  },
  
}
</script>  



