<template>
     <table style="width:97%; background-color:#04AA6D;">
      <tr style="height:50px" >
        <td style="width:33%;text-align:left;"> &nbsp; 
           <router-link to="/" style="color: white;"> Firebase CRUD  </router-link>   
           <small> ({{ myUser.displayName || myUser.phoneNumber }}) </small>
        </td>
        <td style="width:64%;text-align:right;">  
              <router-link to="/docExample" style="color: white;"> Examples </router-link> |
              <router-link to="/feed" style="color: white;"> Feed </router-link> |
              <button @click="handleSignOut" class="router-link"> Logout </button>  &nbsp;
        </td>
      </tr>        
    </table>   
    
 </template>
 
<script> 
    import { ref,  toRefs, toRef, computed, defineComponent} from 'vue' 
    import { getAuth, onAuthStateChanged, signOut } from 'firebase/auth'
    import { useRouter } from 'vue-router'
  
export default {
  name: 'NavAuth',
   props: {
    //goMyLogin: {type:[Number,String,Boolean,Array,Object], default: null},
  },
  components: {},
  
  setup() 
  { 
    console.log('NavAuth')
    
    const router = useRouter()
    //const auth = getAuth();
    const myUser = ref( getAuth().currentUser )
 
    return {
            myUser, 
            handleSignOut
            }
            
    function handleSignOut() {
      signOut(getAuth()).then(() => {
              console.log("Successfully signed out.");
            });
      router.push({name: 'root'})  
    }

  },

}
  
</script>

<style scoped>
.router-link {
  color:black;
}
 
</style> 
