<template>

    <table style="width:97%; background-color:#04AA6D;">
      <tr style="height:50px" >
        <td style="width:33%;text-align:left;"> 
            <router-link to="/"  style="color: white;"> &nbsp; &nbsp;  Firebase CRUD  </router-link>  
        </td>
        <td style="width:64%;text-align:right;">  
             <router-link to="/sign-in" class="router-link"> Login &nbsp; &nbsp;</router-link> 
        </td>
      </tr>        
    </table>  

 </template>
 
<script> 
    import { ref } from 'vue' 
     
  
export default {
  name: 'NavNoAuth',
   props: {
    //goMyLogin: {type:[Number,String,Boolean,Array,Object], default: null},
  },
  components: {},
  
  setup() 
  { 
    console.log('NavNoAuth')

    return {}
    
  },

}
  
</script>

<style scoped>
.router-link {
  border-radius: 8px;
  border: 1px solid transparent;
  border-style: dashed;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
   color: green;
   
}
.router-link:hover {
  border-color: #646cff;
}
.router-link:focus,
.router-link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.router-link:link {
  color: black;
}

</style> 
