<template> 
  <form>
    <h3> Create an Account </h3>
    <p> <input type='text' placeholder="UserName" v-model='userName'/> </p>
    <p> <input type='text' placeholder="Email" v-model='email'/> </p>
    <p> <input type='password' placeholder="Password" v-model='password' autocomplete="on" /> </p>
    <p> <button @click="register"> Submit </button> </p>
  </form>
</template>

<script setup>
import { ref, onBeforeUnmount, onMounted, onUnmounted} from 'vue'
import { getAuth, createUserWithEmailAndPassword ,signInWithEmailAndPassword, updateProfile, onAuthStateChanged} from 'firebase/auth'
import { useRouter, useRoute } from 'vue-router' // import router
import { useStore } from 'vuex'

const router = useRouter() // get a reference to our vue router
const store = useStore();
const email = ref('')
const password = ref('')
const userName = ref('MyName')

async function register() {
      await createUserWithEmailAndPassword(getAuth(),email.value, password.value)
        .then((userCredential) => {
            console.log('Successfully registered!',userCredential.user.email);
            const fullUser = userCredential.user;
            
            // -- 2) update DisplayName --
            updateProfile(getAuth().currentUser, 
                 { displayName: userName.value,
                   photoURL: "https://example.com/jane-q-user/profile.jpg"
                 })
            console.log('Successfully registered2!',userCredential.user);
 
            const myUser = {
                    isLoggedIn: true,
                    displayName:fullUser.displayName,
                    email:fullUser.email,
                    data: null
                    }
             readUser(myUser)
  
      }).catch((err) => {
         console.log('creUserErr:',err)
        }
      );
 
}      

function readUser(user) { 
  //console.log('Profile user2',user)
  const myUser = {
                  isLoggedIn: true,
                  displayName:user.displayName,
                  email:user.email,
                  data: null
                  }
  // biraz beklemek gerekiyor. App.vue deki "myLogin" algılansın
  setTimeout(() => {
    store.dispatch('CHANGE_USER',myUser)
  }, 1000);
  
  setTimeout(() => {
    router.push({name: 'feed'})
  }, 1000);
  
}

 
 
</script>

