<template>
  <form> 
    <h3> Login to Your Account on FirebasePW</h3>
    <p> <input type='text' placeholder="Email" v-model='email'/> </p>
    <p> <input type='password' placeholder="Password" v-model='password'  autocomplete="on" /> </p>
    <p v-if="errMsg"> {{ errMsg }} </p>
    <p> <button @click="signIn"> Submit </button> </p>
  </form> 
</template>

<script setup>

import { ref } from 'vue'
import { getAuth, signInWithEmailAndPassword} from 'firebase/auth'
//import { getAuth, createUserWithEmailAndPassword } from "firebase/auth";
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

//import { readAuthen}  from '@/components/readAuth';
const router = useRouter()
const store = useStore()

const email = ref('')
const password = ref('')
const errMsg = ref() // ERROR MESSAGE

console.log('firebasePW.ok')
//https://firebase.google.com/docs/auth/web/password-auth

 function signIn() {
  signInWithEmailAndPassword(getAuth(),email.value, password.value) // THIS LINE CHANGED
    .then((userCredential) => {
      // Signed in 
      const user = userCredential.user;
      console.log('userCredential:',user)
      readUser(user)
    })
    .catch((error) => {
        const errorCode = error.code;
        const errorMessage = error.message;
    });
}
 
function readUser(user) { 
    console.log('ReadUser:',user)

    const myUser = {
                    isLoggedIn: true,
                    displayName:user.displayName,
                    email:user.email,
                    data: null
                    }
    store.dispatch('CHANGE_USER',myUser)
    router.push({name: 'feed'})
}

</script>
 
