<template>
  
    <h3> Choose login method</h3>
  
    <button @click="goGoogle()">  Sign In with Google   </button><br><br>
    
    <button @click="goFacebook()"> Sign In with Facebook </button><br><br>
  
    <router-link to="/sign-in-phone" class="router-link" > Sign In with Phone </router-link><br><br>
    
    <router-link to="/register" class="router-link"> Register </router-link> or
    <router-link  to="/sign-in-firebase-pw" class="router-link"> Sign  </router-link><!-- signInFirebasePw.vue -->
    In with FirebasePw
    
</template>

<script setup>
import { ref } from 'vue'
import { useRouter } from 'vue-router'
import { useStore } from 'vuex'

import signInGoogle from '@/components/signInGoogle';
import signInFacebook from '@/components/signInFacebook';

const router = useRouter()
const store = useStore()

const {google} = signInGoogle()
const {facebook} = signInFacebook()
//const {phone} = signInPhone()

async function goGoogle() {
  
  await google(123).then((r) => { readUser(r) });
}

async function goFacebook() {
  await facebook().then((r) => { readUser(r) });
}
/*
const goPhone = async () =>  {
  await phone(1).then((r) => { console.log('Gelen:phone:',r)  });
}

async function goPhone2() {
  await phone(1).then((r) => { console.log('phone:',r)  });
}
*/
function readUser(res) { 
    
    if (typeof res != "undefined" || res != null) {
      const myUser = {
                      isLoggedIn: true,
                      displayName:res.displayName,
                      email:res.email,
                      data: null
                      }
      store.dispatch('CHANGE_USER',myUser)
      router.push({name: 'feed'})
    }  
}

//https://dev.to/itscasey/vue-firebase-google-easy-authentication-20ac

</script>

<style>
.router-link {
  border-radius: 8px;
  border: 1px solid transparent;
  border-style: dashed;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
   color: green;
   
}
.router-link:hover {
  border-color: #646cff;
}
.router-link:focus,
.router-link:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
.router-link:link {
  color: black;
}
</style>
