<template>
  <div>
    <h2>Sign in Phone </h2>
    +90<input type="number" v-model="phNo" placeholder="Phone Number"/>
    <button id="sign-in-button" @click="sendOtp">Get OTP </button>
    <div id="recaptcha-container"></div><br>
    <input type="number" v-model="otp" placeholder="OTP doğrulama kodu 6 hane"/>
    <button @click="verifyOtp()">Verify</button><br>
    
    <br>
     <button @click="hayaliPhoneTest()">Hayali Telefon Test</button>
     <br><br>
     <small> OTP(One-Time Passcode Verification) </small>

         <button @click="verifyOtp2()">Verify</button><br>

  </div>
</template>

<script>
    import { ref,  onMounted } from 'vue' 
    import { useRouter } from 'vue-router'

    import { getAuth, RecaptchaVerifier, signInWithPhoneNumber} from 'firebase/auth'
    // https://firebase.google.com/docs/auth/web/phone-auth
    // https://github.com/firebase/firebaseui-web/
    // demo
    // https://fir-ui-demo-84a6c.firebaseapp.com/
  export default {
     name: 'signInPhone',
       props: {
      },
      components: {},
      
      setup() 
      {     
        //08505454545
        const router = useRouter()
        const phNo = ref('5325851609')  // firebase deki phone sign e  ekle "+90 532 585 16 09"
        //const appVerifier = ref('')
        const otp = ref('123456')  // firebase deki phone sign e doğrulama kodunu da  ekle
        
        onMounted(() => {
          initReCaptcha()
        });

        return {
          phNo,
          //appVerifier,
          otp,
          sendOtp,
          verifyOtp,verifyOtp2,
          hayaliPhoneTest
        }
        
        function sendOtp(){
          //console.log('phone:no:', phNo.value, ' leng:',phNo.value.length)
          if( phNo.value.toString().length != 10 ){
            alert('Invalid Phone Number Format !');
          }else{
            console.log('Phone0', phNo.value, ' l:', phNo.value.toString().length)
            //
            let countryCode = '+90' //tr
            let phoneNumber = countryCode + phNo.value.toString()

            const appVerifier = window.recaptchaVerifier;
            console.log('phoneNumber:',phoneNumber)

            setTimeout(()=>{
              
              //const auth = getAuth();
                signInWithPhoneNumber(getAuth(), phoneNumber, appVerifier)
                    .then((confirmationResult) => {
                      // SMS sent. Prompt user to type the code from the message, then sign the
                      // user in with confirmationResult.confirm(code).
                      window.confirmationResult = confirmationResult;
                      console.log('SMS sent')
                      // ...
                    }).catch((error) => {
                      // Error; SMS not sent
                      // ...
                       alert('Error ! SMS not sent' + error)
                    });
              
   
            },1000)
            
          }
        }
        
       function verifyOtp2(){
        if( phNo.value.toString().length != 10 || otp.value.toString().length != 6){
          console.log('Phone1:', phNo.value, ' l:', phNo.value.toString().length, ' otp1:',otp.value,' l:',otp.value.toString().length)
        } else {
          console.log('Phone2:', phNo.value, ' l:', phNo.value.toString().length, ' otp2:',otp.value,' l:',otp.value.toString().length)
        }     
       }
        
      function verifyOtp(){
        if( phNo.value.length != 10 || otp.value.toString().length != 6){
          alert('Invalid Phone Number/OTP Format ! p:' + phNo.value + '/ v:' + otp.value + ' lng:'+  otp.value.length );
          console.log('Phone1:', phNo.value, ' l:', phNo.value.toString().length, ' otp1:',otp.value,' l:',otp.value.toString().length)
        } else 
        {
          console.log('Phone2:', phNo.value, ' l:', phNo.value.toString().length, ' otp2:',otp.value,' l:',otp.value.toString().length)

          //let vm = this
          let code = otp.value
          //
          window.confirmationResult.confirm(code).then(function (result) {
            // User signed in successfully.
            var user = result.user;
            console.log('AuthOk:',user)
            // ...
            //route to set password !
             router.push({path:'/'})
          }).catch(function (error) {
            // User couldn't sign in (bad verification code?)
            // ...
          });
        }
      }
      
      function  initReCaptcha(){
        const auth = getAuth();
        //auth.languageCode = 'tr';
        setTimeout(()=>{
            window.recaptchaVerifier = new RecaptchaVerifier('recaptcha-container', {
              'size': 'normal',
              'callback': (response) => {
                // reCAPTCHA solved, allow signInWithPhoneNumber.
                // ...
              },
              'expired-callback': () => {
                // Response expired. Ask user to solve reCAPTCHA again.
                // ...
              }
            }, auth);
           
        },2000)
        
      }
      
      function hayaliPhoneTest() {
        // Turn off phone auth app verification.
        getAuth().settings.appVerificationDisabledForTesting = true;
        
        let countryCode = '+90' //tr
        let phoneNumber = countryCode + phNo.value

        var testVerificationCode = "123456";  // firebase sayfasına girdiğim doğrulama kodu.

        // This will render a fake reCAPTCHA as appVerificationDisabledForTesting is true.
        // This will resolve after rendering without app verification.
        var appVerifier = new RecaptchaVerifier('recaptcha-container', {}, getAuth() );
        // signInWithPhoneNumber will call appVerifier.verify() which will resolve with a fake
        // reCAPTCHA response.
        signInWithPhoneNumber( getAuth(), phoneNumber, appVerifier)
            .then(function (confirmationResult) {
              // confirmationResult can resolve with the fictional testVerificationCode above.
              return confirmationResult.confirm(testVerificationCode)
            }).catch(function (error) {
              // Error; SMS not sent
              // ...
            });
      }
      
    }

     // Install
     // https://firebase.google.com/docs/auth/web/phone-auth
     /*
      ücretsiz (Spark) plan projeleri günlük 3.000 aktif kullanıcıyla sınırlı olacak
      ve kullandıkça öde (Blaze) plan projeleri, 
      aylık 50.000 aktif kullanıcının ücretsiz katmanının üzerindeki 
      kullanımlar için ücretlendirilecektir.
      --
      Kullandıkça öde (Blaze)
      Blaze planındaki projeler için fiyatlandırma, aylık aktif kullanıcılara (MAU'lar) dayalıdır ve 50.000 kullanıcıdan oluşan ücretsiz bir katman içerir. Etkin kullanıcı, hesabını fatura dönemi içinde kullanan kişidir.

      Sağlayıcılar	Ücretsiz katman	Ücretsiz katmanın üzerindeki MAU başına maliyet ($)
      E-posta, Sosyal, Anonim, Özel	0-49.999 MAU	MAU başına 0,0025 ila 0,0055
      SAML, OpenID Bağlantısı	0-49 MAU	MAU başına 0,015
     */
     // 1) console doe; sign-in de phone i ac
     
     
  }
</script>