<template>
  <div id="app">

    <nav>   
      <span v-if="myLogin.isLoggedIn" >
        <component :is="dynamicComponent = 'navAuth'" ></component>
      </span>
      <span v-else>
        <component :is="dynamicComponent = 'navNoAuth'" ></component>						 
      </span>	
    </nav>  
  
    <router-view />
  </div>
</template>

<script>
  export default {
    name: 'App',
    components: { 
    },
   }
</script>

<script setup>
import { ref, computed} from 'vue' 
import { getAuth, onAuthStateChanged, signOut } from 'firebase/auth'
import { useRouter } from 'vue-router'
 
const router = useRouter()
const myLogin = ref({ isLoggedIn:false, displayName: null, email:null})
const dynamicComponent = ref('');
 
onAuthStateChanged(getAuth(), (user) => {
  if (user) {
      myLogin.value = {isLoggedIn:true, displayName:user.displayName, email:user.email}
  } else {
      myLogin.value = { isLoggedIn:false, displayName: null, email:null}
  }
});

</script>

<style>
#app {
  
 font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center; 
  color: #2c3e50;
  margin-top: 1px;
   
}
</style>
